<html>
<head>
  <title><%= @title %></title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css">
  <style>
    .cover-up {
      background: #2ebd59;
      position: absolute;
      padding-top: 30px;
    }
    .cover-up .icon {
      width: 80px;
      height: 50px;
      font-size: 40px;
    }
  </style>
</head>
<body>
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui inverted header">
        Guess Whose Playlist
      </h1>
      <h2>Whose playlist is whose? </h2>
      <p class="small">A <a href="https://substrakthealth.com">Substrakt Health</a> game</p>
    </div>
  </div>
 <%= yield %>
</body>
</html>
