<div class="ui vertical stripe segment">
  <div class="ui three column middle aligned stackable grid container">
    <% @playlists.each.with_index(1) do |playlist, index| %>
    <div class="column">
      <div class="ui fluid card">
        <div class="content">
          <div class="header"><%= index %>.</div>
        </div>
        <div class="content">
          <div class="cover-up" style="background: white; position: absolute; padding-top: 30px;">
            <i class="spotify icon" style="width: 80px; height: 50px; font-size: 40px;"></i>
          </div>
          <iframe src="https://embed.spotify.com/?uri=<%= playlist.url %>&view=list" height="380" frameborder="0" allowtransparency="true" style="width: 100%;"></iframe>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="ui vertical stripe segment center aligned">
  <div class="ui text container">
    <a class="ui huge primary button" href="/create">Add yours <i class="right arrow icon"></i></a>
  </div>
</div>

